<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

    <table>
        <h1><a href="{{url_for('add_question_route')}}">Ask a question.</a></h1>
        {% for question in questions %}
            <tr><td><h3><a href="{{url_for('question_route', question_id=question['id'])}}">{{question['title']}}</a></h3></td></tr>
        {% endfor %}
    </table>

</body>
</html>
