<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <div>
        <div>
            <div><span style="font-size: 2em">{{post['title']}}</span>, votes: {{post['vote_number']}}</div>
            <div>{{post['submission_time']}}</div>
        </div>
        <div>{{post['message']}}</div>
        {% if post['image'] %}
            <img src="{{url_for('static', filename=post['image'])}}">
        {% endif %}
        <div>{{post['view_number']}}</div>
    </div>
</body>
</html>