<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <div>
        <h1><a href="{{url_for('list_route')}}">Back to question list</a></h1>
        <h1><a href="{{url_for('answer_route', question_id=question_id)}}">Add answer</a></h1>
        <div>
            <div><span class="title">{{post['title']}}</span>, <span><br> votes: {{post['vote_number']}}</span></div>
            <div>{{post['submission_time']}}</div>
        </div>
        <div>
            {{post['message']|replace("\n", "<br>")|safe}}
        </div>
        {% if post['image'] %}
            <img src="{{url_for('static', filename=post['image'])}}">
        {% endif %}
        <div>views: {{post['view_number']}}</div>
        {% if question_comments %}
            {% for question_comment in question_comments %}
                <div>
                    <div>{{ question_comment['message'] }}</div>
                    <div>{{ question_comment['submission_time'] }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <a href="{{url_for('question_comment_route', question_id=question_id)}}">Add new comment</a>
    </div><br>
    <div>
        {% for answer in answers %}
            {% if answer['question_id'] == post['id'] %}
                <div><span>{{answer['submission_time']}}</span><br> votes: {{answer['vote_number']}}</div>
                    <div>{{answer['message']|replace("\n", "<br>")|safe}}</div>
                    {% if answer['image'] %}
                        <div>{{answer['image']}}</div><br>
                    {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>