<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <div>
        <h1><a href="{{url_for('answer_route', question_id=question_id)}}">Add answer</a></h1>
        <div>
            <div><span class="title">{{post['title']}}</span>, <span>votes: {{post['vote_number']}}</span></div>
            <div>{{post['submission_time']}}</div>
        </div>
        <div>
            {{post['message']|replace("\n", "<br>")|safe}}
        </div>
        {% if post['image'] %}
            <img src="{{url_for('static', filename=post['image'])}}">
        {% endif %}
        <div>{{post['view_number']}}</div>
    </div>
    <div>
        {% for answer in answers %}
            {% if answer['question_id'] == post['id'] %}
                <div><span>{{answer['submission_time']}}</span>{{answer['vote_number']}}</div>
                    <div>{{answer['message']}}</div>
                    <div>{{answer['image']}}</div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>