{% extends 'layout.html' %}
    {% block content %}
        <div class="question">
            <h1><a href="{{url_for('list_route')}}">Back to question list</a></h1>
            <h1><a href="{{url_for('answer_route', question_id=question_id)}}">Add answer</a></h1>
            <div class="title_box">
                <div>
                    <span class="title">{{post['title']}}</span>, 
                    <div>votes:
                        <a href="#"><img class="thumb" src="{{ url_for('static', filename='images/vote_up.png') }}" /></a>
                        {{post['vote_number']}}
                        <a href="#"><img class="thumb" src="{{ url_for('static', filename='images/vote_down.png') }}" /></a>
                    </div>
                </div>
                <div class="right">{{post['submission_time']}}</div>
            </div>
            <div class="message">
                {{post['message']|replace("\n", "<br>")|safe}}
            </div>
            {% if post['image'] %}
                <img src="{{url_for('static', filename=post['image'])}}">
            {% endif %}
            <div>views: {{post['view_number']}}</div>
            {% if question_comments %}
                {% for question_comment in question_comments %}
                    <div class="comment_box">
                        <div>{{ question_comment['message'] }}</div>
                        <div>{{ question_comment['submission_time'] }}</div>
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{{url_for('question_comment_route', question_id=question_id)}}">Add new comment</a>
        </div>
        <div>
            {% for answer in answers %}
                {% if answer['question_id'] == post['id'] %}
                    <div class="answer_head">
                        <span>{{answer['submission_time']}}</span><br> votes
                        <a href="#"><img class="thumb" src="{{ url_for('static', filename='images/vote_up.png') }}" /></a>
                        {{answer['vote_number']}}
                        <a href="#"><img class="thumb" src="{{ url_for('static', filename='images/vote_down.png') }}" /></a>
                    </div>
                        <div class="message">{{answer['message']|replace("\n", "<br>")|safe}}</div>
                        {% if answer['image'] %}
                            <div>{{answer['image']}}</div><br>
                    {% endif %}
                    {% for comment in answer_comments %}
                        <div style="margin-left: 3em">
                        {% if comment['answer_id'] == answer['id'] %}
                            {{comment['message']}}
                            {{comment['submission_time']}}
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                <a href="{{url_for('answer_comment_route', answer_id=answer['id'], question_id=question_id)}}">
                    Add new comment</a>
            {% endfor %}
        </div>
    {% endblock %}
